<h2 class="smaller-title">Where am I sitting?</h2>
<p class="longer-text">We wanted to highlight some of our favorite and most visited Austin locations for you guys. So we used them to name our tables. Each table at our wedding will have a photo of us at one of the locations. Find your name listed below to find what table you will be sitting at the day of our wedding!</p>

<div class="seating-table bee">
  <h3 class="location-name">
    <a href="http://www.juanpelotacafe.com" target="_blank">
      Juan Pelota
    </a>
  </h3>
  <div class="seating-table-photo">
    <%= image_tag 'photos/juan-pelota' %>
  </div>
  <div class="location-quote">
    <blockquote><span class="quote">&ldquo;This place helped me fall in love with Austin. It’s a simple friendly coffee shop attached to Lance Armstrong’s bike shop, Mellow Johnny’s. It has a nice chill vibe with bicyclist using it as a stopping point for their rides. Laura and I have both used this place to hang out and get some work done at.&rdquo;</span> - Derek</blockquote>
  </div>
  <ul class="guest-names">
    <li>Joanie Rodriguez</li>
    <li>Silvia Usategui</li>
    <li>Grace Justiniano</li>
    <li>Matt Maloney</li>
    <li>Alexis Maloney</li>
    <li>Hilda Benard</li>
    <li>Bianka Gomez</li>
    <li>Kenia Limia</li>
  </ul>
</div>

<div class="seating-table bee2">
  <h3 class="location-name">
    <a href="http://amysicecreams.com/" target="_blank">
      Amy's Ice Cream
    </a>
  </h3>
  <div class="seating-table-photo">
    <%= image_tag 'photos/amys-ice-cream' %>
  </div>
  <div class="location-quote">
    <blockquote><span class="quote">&ldquo;Mexican Vanilla Heaven. Don’t even bother trying any other flavor. This slice of deliciousness is dangerously located at walking distance from our apartment. We love Mexican Vanilla scoops with sprinkles or a Mexican Vanilla milkshake. It’s always a good idea when we go there -  #noregrats&rdquo;</span> - Laura</blockquote>
  </div>
  <ul class="guest-names">
    <li>Carlos Limia</li>
    <li>Deyna Peterson</li>
    <li>Brian Peterson</li>
    <li>Scott Black</li>
    <li>Vera Miller</li>
    <li>Steven McGinley</li>
    <li>Jessica Bourne</li>
    <li>Nichole Richards</li>
  </ul>
</div>

<div class="seating-table bee">
  <h3 class="location-name">
    <a href="http://torchystacos.com/" target="_blank">
      Torchy&rsquo;s Tacos
    </a>
  </h3>
  <div class="seating-table-photo">
    <%= image_tag 'photos/torchys-tacos' %>
  </div>
  <div class="location-quote">
    <blockquote><span class="quote">&ldquo;Besides BBQ and live music, Austin is also known for the breakfast tacos, at least it is for me! There are so many places to choose from here to get Tacos, breakfast or not, but Torchy's is always a solid choice. They also always have our favorite drink, Topo Chico! They have food trucks as well as brick and motar shops.&rdquo;</span> - Derek</blockquote>
  </div>
  <ul class="guest-names">
    <li>Keith Richards</li>
    <li>Jess Molina</li>
    <li>Nieves Devlin</li>
    <li>Kristen Pankey</li>
    <li>Jenny Robinson</li>
    <li>Amy Hadley</li>
    <li>Dennis Hadley</li>
    <li>Allen Borza</li>
  </ul>
</div>


<div class="seating-table bee2">
  <h3 class="location-name">
    <a href="http://gourdoughs.com/" target="_blank">
      Gourdough&rsquo;s
    </a>
  </h3>
  <div class="seating-table-photo">
    <%= image_tag 'photos/gourdoughs' %>
  </div>
  <div class="location-quote">
    <blockquote><span class="quote">&ldquo;Their public houses is known for burgers that use donuts for buns, tastes a lot better than you think, and puts you in a food comma a lot quicker than you would think. I prefer the original Airstream trailer. Super extravagant and tasty dessert donuts, for sharing of course. The desserts are basically a donut smothered in some sort of tasty combo of sweets and sometimes savory items.&rdquo;</span> - Derek</blockquote>
  </div>
  <ul class="guest-names">
    <li>Clara Borza</li>
    <li>German Mateus</li>
    <li>Clara Mateus</li>
    <li>Christopher Thomas</li>
    <li>Ashley Glade</li>
    <li>Jellay</li>
    <li>Peanut</li>
    <li>Claudia Mateus</li>
  </ul>
</div>

<div class="seating-table bee">
  <h3 class="location-name">
    <a href="http://24diner.com/" target="_blank">
      24 Diner
    </a>
  </h3>
  <div class="seating-table-photo">
    <%= image_tag 'photos/24-diner' %>
  </div>
  <div class="location-quote">
    <blockquote><span class="quote">&ldquo;Everywhere I go I always seek out diners. They are the classic, middle of the road, crowd pleaser that won't break the bank. 24 Diner is slightly above the rest of the diners out there. They are known for their chicken and waffles. This place is 24 hours and has never let me down. I know my standards might differ from yours, so if you order something you don't like...I'll take it off your hands.&rdquo;</span> - Derek</blockquote>
  </div>
  <ul class="guest-names">
    <li>Cristy Leyte-Vidal</li>
    <li>Nate Hultz</li>
    <li>Andy Lee</li>
    <li>Thi Ngo</li>
    <li>Steph Thompson</li>
    <li>Bill Thompson</li>
    <li>Jacob VanOrder</li>
    <li>Danh Hoang</li>
  </ul>
</div>

<div class="seating-table bee2">
  <h3 class="location-name">
    <a href="https://drafthouse.com" target="_blank">
      Alamo Drafthouse
    </a>
  </h3>
  <div class="seating-table-photo">
    <%= image_tag 'photos/alamo-drafthouse' %>
  </div>
  <div class="location-quote">
    <blockquote><span class="quote">&ldquo;I love movies; It is a Mateus family tradition to watch movies, all day, every day. The Fons’ side of this duo only likes to watch TV/movies when is dark outside, but Derek does love to eat yummy food…enter the Alamo DraftHouse. Derek and I have the most fun doing the simplest of things, and going to the Alamo DraftHouse is our guilty pleasure. We get to eat yummy food, Derek can’t tell what time it is outside and we have assigned seats every time we go! AMC who?&rdquo;</span> - Laura</blockquote>
  </div>
  <ul class="guest-names">
    <li>Chris Brown</li>
    <li>Neeka Allsup</li>
    <li>John Smerczak</li>
    <li>Violet Smerczak</li>
    <li>Chad Ehlinger</li>
    <li>Brooke Ehlinger</li>
    <li>Griffin Sparks</li>
    <li>Madison Hudson</li>
  </ul>
</div>

<div class="seating-table bee">
  <h3 class="location-name">
    <a href="http://www.crossfitsouthlamar.com/" target="_blank">
      Crossfit SoLa
    </a>
  </h3>
  <div class="seating-table-photo">
    <%= image_tag 'photos/crossfit-sola' %>
  </div>
  <div class="location-quote">
    <blockquote><span class="quote">&ldquo;Derek loves CrossFit, it changed his life. Naturally, he has been patiently taking me to at least 4 different CrossFit gyms to share with me what made him fall in love with the sport. However, all attempts provided the same result, me still not liking CrossFit haha. Until we landed at this gem. This is not only the place where Derek now coaches, but this “box” (as CrossFitters say it), is now a place I look forward to going to work out and have fun with our friends!&rdquo;</span> - Laura</blockquote>
  </div>
  <ul class="guest-names">
    <li>Joanna Carisma</li>
    <li>Rudy Carisma</li>
    <li>Emily Ryan</li>
    <li>Paul Ryan</li>
    <li>Amy Harris</li>
    <li>Kelsey Mosher</li>
    <li>Navid Ladha</li>
    <li>Destin Hodges</li>
  </ul>
</div>
