<div class="welcome-header">
  <h1 class="title">Laura <span class="divider">&amp;</span> <span class="peanut-butter">Derek</span></h1>
  <p class="date">02.24.17</p>
</div>
<p class="text rsvp-by-date">Please RSVP by <%= ApplicationHelper::RSVP_BY_DATE.to_formatted_s(:long_ordinal) %></p>
<%= link_to 'RSVP', :rsvp, class: 'rsvp-link' %>
<%= link_to 'Wedding Details', :details, class: 'details-link' %>
<%= link_to 'Honeymoon Registry', :gift, class: 'details-link' %>
<%= link_to 'Seating', :seating, class: 'details-link' %>
