<h1 class="smaller-title">Hey <%= @guest.first_name %>!</h1>
<p class="text">Because you have shared in our lives
and supported our love, we have requested  the pleasure of your company
at our marriage. Please use this form to complete your RSVP.</p>

<%= form_tag :confirm_submit, class: 'reservation-confirm-form' do %>
  <%= hidden_field_tag :token, @guest.token %>

  <p class="text">Will you be able to make our big day?</p>
  <div class="form-field-row">
    <%= radio_button_tag :rsvp, true, true, class: 'radio-button' %>
    <%= label_tag :rsvp_true, 'Yes', class: "label" %>
    <%= radio_button_tag :rsvp, false, false, class: 'radio-button' %>
    <%= label_tag :rsvp_false, 'No', class: "label" %>
  </div>

  <% if @guest.guest %>
    <p class="text">We also have <strong><%= @guest.guest.first_name %> <%= @guest.guest.last_name %></strong> joining you. Will they be coming?</p>
    <div class="form-field-row">
      <%= radio_button_tag :rsvp_for_guest, true, true, class: 'radio-button' %>
      <%= label_tag :rsvp_for_guest_true, 'Yes', class: "label" %>
      <%= radio_button_tag :rsvp_for_guest, false, false, class: 'radio-button' %>
      <%= label_tag :rsvp_for_guest_false, 'No', class: "label" %>
      <%= radio_button_tag :rsvp_for_guest, 'not sure', false, class: 'radio-button' %>
      <%= label_tag :rsvp_for_guest_not_sure, 'Not sure', class: "label" %>
    </div>
  <% end %>


  <%= submit_tag "Submit", class: 'submit-button' %>

  <p class="text note">*Space is limited,<br>so please no children or additional guests.</p>
<% end %>
