<p>Yay! We are so excited you will be attending our wedding <%= @guest.first_name %>! Please confirm your RSVP by clicking the button below.</p>

<%= form_tag :confirm_submit do %>
  <%= hidden_field_tag :token, @guest.token %>
  <%= hidden_field_tag :rsvpd, true %>
  <% if @guest.guest && !@guest.guest.rsvpd %>
    <p>We also have you bringing <%= @guest.guest.first_name %> <%= @guest.guest.last_name %> with you.</p>
    <p>Would you like to also RSVP on their behalf as well?</p>
    <%= radio_button_tag :rsvp_for_guest, true, checked: true %>
    <%= label_tag :rsvp_for_guest_true, 'Yes' %>
    <%= radio_button_tag :rsvp_for_guest, false %>
    <%= label_tag :rsvp_for_guest_false, 'No' %>
  <% end %>

  <%= submit_tag 'RSVP' %>
<% end %>
